In [1]:
# test data frame
# from dataframe_excel_charting import DataFrameExcelCharting
import pandas as pd
import numpy as np
# import xlsxwriter
# import copy

In [4]:
expected_metrics_by_node_df = pd.DataFrame(
                                           columns=[
                                                    "Settlement_ID",
                                                    "Network_ID",
                                                    "Node_ID",
                                                    "lat",
                                                    "lon",
                                                    "Marginal_Population_Served",
                                                    "Population_Served",
                                                    "Marginal_Total_Demand",
                                                    "Total_Demand",
                                                    "Total_Transit",
                                                    "Tower_Cost",
                                                    "Radio_Cost",
                                                    "Power_Cost",
                                                    "Hop_Count",
                                                    "Single_Site_Failure_Effect",
                                                    "Node_Utility",
                                                    ]
                                           )
expected_metrics_by_node_df.loc[len(expected_metrics_by_node_df)] = [
                                                                    "PER_5_216:1",
                                                                    "lat_-15.092711061872_lon_-73.745867783712",
                                                                     "F1",
                                                                     -15.092711061872,
                                                                     -73.745867783712,
                                                                     0.0,
                                                                     0.0,
                                                                     0.0,
                                                                     0.0,
                                                                     26608.5,
                                                                     15000.0,
                                                                     2500.0,
                                                                     10000.0,
                                                                     np.nan,
                                                                     26608.5,
                                                                     np.nan,
                                                                     ]
expected_metrics_by_node_df.loc[len(expected_metrics_by_node_df)] = [
                                                                    "PER_5_216:1",
                                                                    "lat_-15.092711061872_lon_-73.745867783712",
                                                                     "N1",
                                                                     -15.090779,
                                                                     -73.720231,
                                                                     10000.0,
                                                                     10000.0,
                                                                     17739.0,
                                                                     17739.0,
                                                                     26608.5,
                                                                     11000.0,
                                                                     57300.0,
                                                                     10000.0,
                                                                     1.0,
                                                                     26608.5,
                                                                     1.0,
                                                                     ]
expected_metrics_by_node_df.loc[len(expected_metrics_by_node_df)] = [
                                                                    "PER_5_216:1",
                                                                    "lat_-15.092711061872_lon_-73.745867783712",
                                                                    "N2",
                                                                    -15.113981,
                                                                    -73.723150,
                                                                    4000.0,
                                                                    4000.0,
                                                                    5913.0,
                                                                    5913.0,
                                                                    5913.0,
                                                                    15000.0,
                                                                    24800.0,
                                                                    10000.0,
                                                                    2.0,
                                                                    5913.0,
                                                                    1.0,
                                                                    ]
expected_metrics_by_node_df.loc[len(expected_metrics_by_node_df)] = [
                                                                    "PER_5_216:1",
                                                                    "lat_-15.092711061872_lon_-73.745867783712",
                                                                    "N3",
                                                                    -15.121024,
                                                                    -73.682895,
                                                                    2000.0,
                                                                    2000.0,
                                                                    2956.5,
                                                                    2956.5,
                                                                    2956.5,
                                                                    28000.0,
                                                                    24800.0,
                                                                    10000.0,
                                                                    2.0,
                                                                    2956.5,
                                                                    1.0,
                                                                    ]
expected_metrics_by_node_df.loc[len(expected_metrics_by_node_df)] = [
                                                                    "PER_5_121:1",
                                                                    "lat_-15.05366466651_lon_-73.770922082143",
                                                                    "F2",
                                                                    -15.05366466651,
                                                                    -73.770922082143,
                                                                    0.0,
                                                                    0.0,
                                                                    0.0,
                                                                    0.0,
                                                                    2217.375,
                                                                    28000.0,
                                                                    5000.0,
                                                                    10000.0,
                                                                    np.nan,
                                                                    2217.375,
                                                                    np.nan,
                                                                    ]
expected_metrics_by_node_df.loc[len(expected_metrics_by_node_df)] = [
                                                                    "PER_5_121:1",
                                                                    "lat_-15.05366466651_lon_-73.770922082143",
                                                                    "N4",
                                                                    -15.027052,
                                                                    -73.775133,
                                                                    1000.0,
                                                                    1000.0,
                                                                    1478.25,
                                                                    1478.25,
                                                                    1478.25,
                                                                    15000.0,
                                                                    24800.0,
                                                                    10000.0,
                                                                    1.0,
                                                                    1478.25,
                                                                    1.0,
                                                                    ]
expected_metrics_by_node_df.loc[len(expected_metrics_by_node_df)] = [
                                                                    "PER_5_121:1",
                                                                    "lat_-15.05366466651_lon_-73.770922082143",
                                                                    "N5",
                                                                    -15.006327,
                                                                    -73.759684,
                                                                    500.0,
                                                                    500.0,
                                                                    739.125,
                                                                    739.125,
                                                                    739.125,
                                                                    28000.0,
                                                                    24800.0,
                                                                    10000.0,
                                                                    1.0,
                                                                    739.125,
                                                                    1.0,
                                                                    ]

In [5]:
expected_metrics_by_node_df.head()

,Settlement_ID,Network_ID,Node_ID,lat,lon,Marginal_Population_Served,Population_Served,Marginal_Total_Demand,Total_Demand,Total_Transit,Tower_Cost,Radio_Cost,Power_Cost,Hop_Count,Single_Site_Failure_Effect,Node_Utility
0,PER_5_216:1,lat_-15.092711061872_lon_-73.745867783712,F1,-15.092711,-73.745868,0.0,0.0,0.0,0.0,26608.500,15000.0,2500.0,10000.0,NaN,26608.500,NaN
1,PER_5_216:1,lat_-15.092711061872_lon_-73.745867783712,N1,-15.090779,-73.720231,10000.0,10000.0,17739.0,17739.0,26608.500,11000.0,57300.0,10000.0,1.0,26608.500,1.0
2,PER_5_216:1,lat_-15.092711061872_lon_-73.745867783712,N2,-15.113981,-73.723150,4000.0,4000.0,5913.0,5913.0,5913.000,15000.0,24800.0,10000.0,2.0,5913.000,1.0
3,PER_5_216:1,lat_-15.092711061872_lon_-73.745867783712,N3,-15.121024,-73.682895,2000.0,2000.0,2956.5,2956.5,2956.500,28000.0,24800.0,10000.0,2.0,2956.500,1.0
4,PER_5_121:1,lat_-15.05366466651_lon_-73.770922082143,F2,-15.053665,-73.770922,0.0,0.0,0.0,0.0,2217.375,28000.0,5000.0,10000.0,NaN,2217.375,NaN

,Settlement_ID,lat_-15.092711061872_lon_-73.745867783712,lat_-15.05366466651_lon_-73.770922082143,F1,N1,N2,N3,F2,N4,N5
0,PER_5_216:1,2956.5,NaN,15000,11000,15000,28000,NaN,NaN,NaN
1,PER_5_121:1,NaN,739.125,NaN,NaN,NaN,NaN,28000,15000,28000

In [38]:
def groupRowToCol(df, new_cols, group_col, value_col_dict):
    # new_cols = ["Network_ID", "Node_ID"]
    # group_col = "Settlement_ID"
    # value_col_dict = {"Network_ID": "Total_Transit", "Node_ID": "Tower_Cost"}

    new_col_name = []
    for new_col in new_cols:
        unique_new_col = expected_metrics_by_node_df[new_col].unique()
        new_col_name.extend(unique_new_col)

    unique_group_col = expected_metrics_by_node_df[group_col].unique()

    new_df = pd.DataFrame(index=unique_group_col, columns=new_col_name)

    for i in range(0, len(expected_metrics_by_node_df)):
        index_val = expected_metrics_by_node_df[group_col][i]
        for new_col in new_cols:
            col_val = expected_metrics_by_node_df[new_col][i]
            new_df[col_val][index_val] = expected_metrics_by_node_df[value_col_dict[new_col]][i]

    new_df.index.name=group_col
    new_df.reset_index(inplace=True)
    return new_df

# example 
groupRowToCol(df=expected_metrics_by_node_df, 
              new_cols=["Network_ID", "Node_ID"], 
              group_col="Settlement_ID", 
              value_col_dict={"Network_ID": "Total_Transit", "Node_ID": "Tower_Cost"})

,Settlement_ID,lat_-15.092711061872_lon_-73.745867783712,lat_-15.05366466651_lon_-73.770922082143,F1,N1,N2,N3,F2,N4,N5
0,PER_5_216:1,2956.5,NaN,15000,11000,15000,28000,NaN,NaN,NaN
1,PER_5_121:1,NaN,739.125,NaN,NaN,NaN,NaN,28000,15000,28000

In [5]:
expected_metrics_by_node_df.pivot(index="Settlement_ID", columns="new_col", values="Total_Transit")

new_col,-15.006327_-73.759684_N5,-15.027052_-73.775133_N4,-15.0536646665_-73.7709220821_F2,-15.090779_-73.720231_N1,-15.0927110619_-73.7458677837_F1,-15.113981_-73.72315_N2,-15.121024_-73.682895_N3
Settlement_ID,,,,,,,
PER_5_121:1,739.125,1478.25,2217.375,NaN,NaN,NaN,NaN
PER_5_216:1,NaN,NaN,NaN,26608.5,26608.5,5913.0,2956.5

In [4]:
expected_metrics_by_node_df["new_col"] = (expected_metrics_by_node_df
                                           .apply(lambda x: "_".join(map(str,[x["lat"], x["lon"], x["Node_ID"]])), 
                                                  axis = 1))
expected_metrics_by_node_df.head()

,Settlement_ID,Network_ID,Node_ID,lat,lon,Marginal_Population_Served,Population_Served,Marginal_Total_Demand,Total_Demand,Total_Transit,Tower_Cost,Radio_Cost,Power_Cost,Hop_Count,Single_Site_Failure_Effect,Node_Utility,new_col
0,PER_5_216:1,lat_-15.092711061872_lon_-73.745867783712,F1,-15.092711,-73.745868,0.0,0.0,0.0,0.0,26608.500,15000.0,2500.0,10000.0,NaN,26608.500,NaN,-15.0927110619_-73.7458677837_F1
1,PER_5_216:1,lat_-15.092711061872_lon_-73.745867783712,N1,-15.090779,-73.720231,10000.0,10000.0,17739.0,17739.0,26608.500,11000.0,57300.0,10000.0,1.0,26608.500,1.0,-15.090779_-73.720231_N1
2,PER_5_216:1,lat_-15.092711061872_lon_-73.745867783712,N2,-15.113981,-73.723150,4000.0,4000.0,5913.0,5913.0,5913.000,15000.0,24800.0,10000.0,2.0,5913.000,1.0,-15.113981_-73.72315_N2
3,PER_5_216:1,lat_-15.092711061872_lon_-73.745867783712,N3,-15.121024,-73.682895,2000.0,2000.0,2956.5,2956.5,2956.500,28000.0,24800.0,10000.0,2.0,2956.500,1.0,-15.121024_-73.682895_N3
4,PER_5_121:1,lat_-15.05366466651_lon_-73.770922082143,F2,-15.053665,-73.770922,0.0,0.0,0.0,0.0,2217.375,28000.0,5000.0,10000.0,NaN,2217.375,NaN,-15.0536646665_-73.7709220821_F2